In [12]:
#Question1-Answer

In [11]:
marks = int(input("enter your marks"))
if marks > 90 :
    print("you have grade A")
elif marks > 80 or marks <= 90 :
    print("you have grade B")
elif marks >= 60 and marks <= 80 :
    print("you have grade C")
else :
    print("you have grade D")

enter your marks 80

you have grade B

In [ ]:
#Question2-Answer

In [3]:
price = int(input("enter price "))
if price > 100000 :
    print("you pay 15% tax")
elif price >50000 or price <=100000 :
    print("you pay 10% tax")
else :
    print("you pay 5% tax")

enter price  110000

you pay 15% tax

In [ ]:
#Question3-Answer

In [10]:
print("Enter one city from Delhi,Agra,Jaipur with first capital letter:")
city = input()

if city == "Delhi" or city == "Agra" or city == "Jaipur":
    if city == "Delhi":
        print("Red Fort")
    if city == "Agra":
        print("Taj Mahal")
    if city == "Jaipur":
        print("Jal Mahal")
else :
    print("city not covered")

Enter one city from Delhi,Agra,Jaipur with first capital letter:

 Delhi

Red Fort

In [13]:
#Question4-Answer

In [15]:
n = int(input())

if n % 3 != 0:
    print("Enter number is not divisible by 3")
    
if n % 3 == 0 and n > 10:
    count = 0
    while (n>10):
        n = n/3
        count += 1
        
    print("The number can be divided ",count,"times")
if n % 3 == 0 and n < 10 and n > 0:
    print("The number can be divided 1 time only")

 3

The number can be divided 1 time only

In [16]:
#Question5-Answer

In [1]:
#While loop is used to run a block code until a certain condition is met.Here , A while loop evaluates the condition if the condition evaluates to True ,the code inside the while loop is executed.
#Example
a = 8

while a <= 10:
    print(a)
    a = a + 1

8
9
10

In [2]:
#Question6-Answer

In [4]:
#1-print table
number = int(input("enter your number"))
i = 1 

while i <= 10:
    result = number *i
    print(number,"*",i,"=",result)
    i = i+1

enter your number 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [5]:
#2-Fibonnaci series
number = int(input("enter your number"))
a , b = 0, 1 
counter = 0 
while counter < number:
    print(a)
    c = a +b
    a = b
    b = c
    counter = counter + 1

enter your number 23

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711

In [6]:
#3-Factorial
number = int(input("enter your number"))
factorial = 1
while number > 0:
    factorial = factorial * number
    number = number - 1
factorial

enter your number 5

120

In [7]:
#Question7-Answer

In [ ]:
l = [10,9,8,7,6,5,4,3,2,1]

In [6]:
i = 10
while i > 0 :
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1